<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Evil Corp</title>
      <link href="css/mainPageStyle.css" rel="stylesheet">
      <link href="fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.4.1.js"
              integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
              crossorigin="anonymous"></script>
      <script src="js/script.js" defer></script>
   </head>

   <body>
    <section class ="box">
       <img src="img/logo.png" alt="E corp" id="logo">
       <div class = "container">
         <input type = "search" id = "searchBar" placeholder="type a URL or a brand name...">
         <button id = "SearchButtonIcon"><i class="fas fa-search"></i></button>
      </div>
    </section>
   </body>
</html>
