<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Evil Corp</title>

      <link href="css/mainPageStyle.css" rel="stylesheet">
      <link href="fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

   </head>

   <body>
      <header></header>
      <section class ="box1">
         <img src="img/logo.png" alt="E corp" id="logo">
         <div class = "container">
            <input type = "search" class="lead" id = "searchBar" placeholder="Paste an URL for Amazon product here...   " />
            <button id = "SearchButtonIcon"><i class="fas fa-search"></i></button>
         </div>
      </section>


      <footer id="sticky-footer">
            <div class="container-fluid extend">
                <div class="row">
                </div>
            </div>
      </footer>

         


      <script src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
      <script src="js/main.js" defer></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>  
  
   </body>
</html>
