<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Evil Corp review</title>

      <link href="css/reviewCss.css" rel="stylesheet">
      <link href="fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    </head>

    <body>
    <div class="container">
        <h1>REVIEW</h1>
        <form action="#" method="POST" class="form-horizontal">
            <div class="form-group" id="rating_form">
                <label class="col-md-1">Rating :</label>
                <div class="col-md-9" id="rating">
                    <span class="star">★</span>  
                    <span class="star">★</span>                         
                    <span class="star">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>   
                </div>
            </div>
             <div class="form-group" id="title_form">  
                <input type="text" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group" id="user_form">
                <input type="text" class="form-control" id="user" placeholder="User name">                
            </div>
            <div class="form-group" id="review_form">   
                <textarea class="form-control input-lg" id="revieArea" row="5" placeholder="Write a review about this company..."></textarea>
            </div> 
            <div class="form-group" id="bnt_form">  
                <input class="btn btn-primary btn-lg" type="submit" value="Submit">
            </div>   
        </form>

        <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
        <script src="js/review.js" defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>  
    </div>
    </body>
</html>
